*{
    font-size: 16px;
  }
  
  .example-card
    {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      display: block;
      margin: auto;
      background-color: #f8f8f8;
      color: #555;
    }
    
    .example-full-width {
      width: 100%;
    }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f8f8f8;
      color: #555;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(100, 100, 100);
      text-align: center;
      padding: 14px 16px;
      border-radius: 5px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #e7e7e7;
      color: #777;
    }