
<div *ngIf = "!(authService.user | async)">
    <img mat-card-image class = "loading" src="./assets/images/loading.gif" alt="loading gif">
</div>

<div *ngIf = "authService.user | async">
  <mat-card class="example-card">
    <mat-card-content>
      <!-- <h1 *ngIf = "name == ''">Welcome {{ name }}!</h1>  
      <h1 *ngIf = "user != null">Welcom {{ user.displayName }}!</h1> -->

      
      <div *ngIf = "authService.user | async">
          <h1>Welcome {{ (authService.user | async)?.displayName }}!</h1>
      </div>

      <p>This is the welcome page :)</p>
      <img mat-card-image src="./assets/images/hello.gif" alt="Photo of a Shiba Inu">

      <mat-card-actions>
        <form class="example-form" [formGroup] = "form" (ngSubmit) = "addTodo()">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Add todo item" value="" formControlName = "todo">
          </mat-form-field>
          <div>
              <input type = "Submit" value = "Add todo">
          </div>      
        </form>  
      </mat-card-actions>
     
      <button mat-raised-button
              (click)="onLogout()">
              <span class="fas fa-sign-out-alt"></span>
              Logout
      </button>
    </mat-card-content>
  </mat-card>
</div>




